.counterWrap {
    width: 132px !important;
    height: 36px !important;
}

.counterButton {
    width: 36px !important;
    height: 36px !important;
    min-width: 36px !important;
}

.counterIndex {
    background: #fff;
    border-radius: 8px;
    text-align: center;
    width: 52px !important;
    justify-content: center;
    border: 1px solid #e6e6e6;
}
